/*  Complete project details: https://randomnerdtutorials.com/esp32-web-server-websocket-sliders/  */

html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
  }
  h1 {
    font-size: 1.2rem;
    color: white;
  }
  p {
    font-size: 1rem;
  }
  .topnav {
    overflow: hidden;
    background-color: #0A1128;
  }
  body {
    margin: 0;
  }
  .content {
    padding: 20px;
  }
  .card-grid {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
   .cards { max-width: 200px; margin: 0 auto; display: grid; grid-gap: 1rem; grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); }

  .card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  }
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #034078
  }

  .card.temp {
    font-size: 1rem;
    font-weight: bold;
    color: blue
  }  

  .card.rate {
    font-size: 1rem;
    font-weight: bold;
    color: black
  }
  .card.totalML {
    font-size: 1rem;
    font-weight: bold;
    color: orange
  }
  .card.pressure {
    font-size: 1rem;
    font-weight: bold;
    color: purple
  }
  .card.timer {
    font-size: 1rem;
    font-weight: bold;
    color: green
  }
  .card.weight {
    font-size: 1rem;
    font-weight: bold;
    color: maroon;
  }
  .state {
    font-size: 1.2rem;
    color:#1282A2;
  }
  .slider {
    -webkit-appearance: none;
    margin: 0 auto;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    background: black;
    outline: none;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: blue;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background: #034078;
    cursor: pointer;
  }
  .switch {
    padding-left: 5%;
    padding-right: 5%;
  }
